services:
  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile.serve
    hostname: f1-pred-api-dev
    ports:
      - "8000:8000"
    volumes:
      - ./backend:/app
  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile.serve
    hostname: f1-pred-app-dev
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/app
  db:
    image: postgres:17.5-alpine3.22
    env_file:
      - .env
    volumes:
      - f1_pred_db:/var/lib/postgresql/data

volumes:
  f1_pred_db:
